{% extends 'base.html.twig' %}

{% block title %}Liste des spectacles{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .title{  color:#fff; text-align:center; margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;  }
     h1{ text-align:center;}
     .btnvoir{color:#fff;}
     .btnvoir:hover{color:#fff; text-decoration:none;}
     .titleTab{color:#17a2b8;}

</style>

<h1>Liste des {{ resource }}</h1>
<div class="container">
<table class="table table-striped table-bordered" style="width:100%"  id="myTable">
  <thead>
    <tr>
      <th class="titleTab">Titre</th>
      <th class="titleTab">Prix</th>
      <th class="titleTab">Nombre de représentations</th>
      <th class="titleTab">Réservable</th>
      <th class="titleTab">Plus</th>
    </tr>
  </thead>
  <tbody>
    {% for show in shows %}
    <tr>
      <td>{{ show.title }}</td>
        {% if show.bookable %}
      <td>{{ show.price }} €</td>
        {% else %}
      <td>/</td>
        {% endif %}
      <td> {% if show.representations|length==1 %}
      <span>1 représentation</span>
        {% elseif show.representations|length>1 %}
      <span>{{ show.representations|length }} représentations</span>
        {% else %}
      <em>aucune représentation</em>
        {% endif %}</td>

        <td>{% if show.bookable  == 1 %}
        <span>Oui</span>
        {% elseif show.bookable == 0 %}
        <span>Non</span>
        {% endif %}</td>

      <td><button class="btn btn-info"><a class="btnvoir" href="{{ path('show_show', {'id': show.id}) }}">Voir</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
   <tr>
      <th class="titleTab">Titre</th>
      <th class="titleTab">Prix</th>
      <th class="titleTab">Nombre de représentations</th>
      <th class="titleTab">Réservable</th>
      <th class="titleTab">Plus</th>
    </tr>
  </tfoot>
</table>
</div>
{% endblock %}
