{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .title{  color:#fff; text-align:center; margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;  }
     h1{ text-align:center; margin-bottom:100px;}
     .new{ text-align:center; border:1px solid blue; max-width:220px; display:block; margin:auto;}
     .new a{text-decoration:none;}
     .newPay{ margin-top: 20px;}



</style>



    <h1>Liste des réservations</h1>

    <ul>
        {% for groups in reservations %}
            <li>
                <ul>{{ groups.0.user.firstname }} {{ groups.0.user.lastname }}
                {% for reservation in groups %}
                    <li>
                        <span>{{ reservation.representation.theShow.title }}</span> ({{ reservation.places }} places)
                        <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>no records found</li>
        {% endfor %}
    </ul>

<p class="new alert alert-primary"><a href="{{ path('reservation_new') }}">Nouvelle réservation</a></p>
<p class="new newPay alert alert-primary"><a href="{{ path('reservation_pay') }}">Payer</a></p>
{% endblock %}
