{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tableau {margin-top: 100px;}
    .title{  color:#fff; text-align:center; margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;  }
     h1{ text-align:center; margin-bottom:100px; text-decoration: underline;}
    .table{ margin-bottom: 30px;}
    .new{ text-align:center; border:1px solid blue; max-width:220px; display:block; margin:auto;}
    .new a{text-decoration:none;}

</style>

<div class="example-wrapper">
    <h1>Liste des utilisateurs</h1>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr class="title">
                <th>Id</th>
                <th>Login</th>

                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Langue</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>

                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.langue }}</td>
                <td>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <p class="new alert alert-primary"><a href="{{ path('user_new') }}">Création d'un nouvel utilisateur</a></p>
{% endblock %}
